* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* genaral style */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header */
#header {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

#header .container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("Banner\ Image.png");
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
}

#header .container p {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;


}

#header .container h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}



/* main */
main {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

/* off */
#off-section {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#off-section h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

#off-section p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

#off-section h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

#off-section img {
    margin-bottom: 120px;
}

/* welcome */
#welcome {
    /* background image  */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 16px;
    margin-bottom: 120px;
    /* font display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 65px 130px;
}

/* welcome text */
#welcome .welcome-text {
    color: #FFF;
}

#welcome .welcome-text h1 {
    font-family: 'Merriweather', serif;
    font-size: 52.8px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

#welcome .welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 14.85px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0;
}

#welcome .welcome-text button {
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
}
#welcome .welcome-text button:hover {
    color: rgba(255, 255, 255, 0.80);
}


/* party address section */
#place {
    /* background-image */
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin-bottom: 120px;
    /* text */
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #070211;
    font-size: 26.4px;
    font-weight: 600;
    line-height: 56px;
    /* area */
    padding: 100px 385px;
}

#place span {
    color: #F00;
}

#place button {
    cursor: pointer;
    /* font */
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    /* area */
    margin-top: 45px;
    padding: 16px 32px;
    border-radius: 8px;
}

#place button:hover {
    color: #F00;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
}

/* =============================================holiday=============================================== */
#holiday .container {
    margin-bottom: 120px;
}

/* text */
#holiday .container .text {
    text-align: center;
}

#holiday .container .text h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#holiday .container .text h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    /* area */
    margin-top: 10px;
    margin-bottom: 30px;
}

#holiday .container .text span {
    color: #F00;
}

#holiday .container .text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 880px;
    margin: 0 auto;
}

/* ======================image====================== */
#holiday .container .img {
    background-image: url("\resources/Group\ 75.png"), url('..\resources/Rectangle\ 1.png'), url(resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right, bottom right;
    width: 1320px;
    height: 662.07px;
    margin-top: 64px;
}

#holiday .container .img img {
    margin: 86px 0px 0px 720px;
}

/* ===============================best offer=============================== */
#best-offer .container {
    display: flex;
    align-items: center;
    /* area */
    margin-bottom: 120px;
}

/* ==========offer======================== */
#best-offer .container .offer h3 {
    color: #F00;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#best-offer .container .offer h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 20px;
}

#best-offer .container .offer p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* ===============image==================== */
#best-offer .container .img {
    padding: 50px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin: 0 120px 0 70px;
}

/* ===============text======================= */
#best-offer .container .text {
    text-align: left;
    font-family: 'Inter', sans-serif;

}

#best-offer .container .text h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

#best-offer .container .text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 40px;
}

/* ===========================================best gift================================= */
/* ==============text========================== */
#gift {
    margin-bottom: 120px;
}

#gift .container .text h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#gift .container .text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    /* ===========area=========== */
    margin-top: 16px;
    margin-bottom: 22px;
}

#gift .container .text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    margin-bottom: 48px;
}

/* image */
#gift .container .img .img-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    /* gap: 25px; */
}

#gift .container .img .img-row img {
    max-width: 400px;
    cursor: grab;
}

/* Subscribe */
#subscribe .container {
    /* background */
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    /* text */
    text-align: center;
    /* area */
    padding: 80px 212px;
    margin-bottom: 120px;
}

#subscribe .container h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    /* area */
    margin-top: 40px;
    margin-bottom: 20px;
}

#subscribe .container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
}

#subscribe .container .form input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 15px 150px 19px 30px;
    font-size: 20px;
}

#subscribe .container .form input:focus {
    background: rgba(255, 0, 0, 0.05);
}


#subscribe .container .form button {
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 15px 50px 20px 50px;
    /* text */
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: -50px;
}

#subscribe .container .form button:hover {
    color: rgb(255, 179, 179);
    background: rgb(200, 0, 0);
}

/* footer section */
footer {
    background-color: #070211;
}

#footer {
    color: #FFF;
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 120px;
}

#footer hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}

/* address & contact */
#footer .address-contact {
    display: flex;
    justify-content: space-between;
}

#footer .address-contact p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

#footer .address-contact .contact p img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

/* social links */
#footer .social-links {
    padding: 0 425px;
    justify-content: center;
}

#footer .social-links a {
    margin-right: 25px;
}

#footer .reserved {
    display: flex;
    justify-content: space-between;
}

#footer .reserved p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}